.vjs-custom-theme {
  .vjs-control-bar {
    background-color: transparent !important; 
    background: rgba(255, 0, 0, 0.8);
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.1s;
  }

  .vjs-big-play-button {
    opacity: 1 !important;
    background-color: red !important;
    border-radius: 50% !important;
    border: none !important;
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    margin-left: -30px !important;
    margin-top: -30px !important;
  }

  .vjs-volume-control {
    align-items: center !important;
  }

  .vjs-progress-control .vjs-progress-holder {
    margin: 0 10px;
    background: gray !important;
    height: 5px !important;
    border-radius: 3px;
  }

  .vjs-play-progress {
    background: red !important;
    height: 5px !important;
  }

  .vjs-play-progress:before {
    top: -4px !important;
    background: #ff4d4d !important;
  }

  .vjs-slider-bar {
    background: red !important;
  }

  .vjs-progress-control:hover .vjs-play-progress:before {
    top: -7px !important;
    background: red;
  }

  .vjs-volume-panel {
    order: 4;
    display: flex;
    align-items: center;
  }

  .vjs-fullscreen-control {
    order: 5;
    color: #ff6666;
  }

  .vjs-fullscreen-control:hover {
    color: #ff0000;
  }

  .vjs-picture-in-picture-control,
  .vjs-remaining-time {
    display: none;
  }

  .vjs-play-control {
    width: 5em !important;
    border-radius: 5px;
  }

  .vjs-play-control .vjs-icon-placeholder::before {
    font-size: 13px;
    letter-spacing: 0.16px;
    content: "▶" !important;
    font-family: sans-serif;
    line-height: 30px;
    color: #fff;
  }

  .vjs-play-control.vjs-playing .vjs-icon-placeholder::before {
    content: "❚❚" !important;
    font-family: sans-serif;
    color: #fff;
  }

  .vjs-volume-panel .vjs-volume-bar {
    background: rgba(255, 0, 0, 0.6);
  }

  .vjs-volume-panel .vjs-volume-level {
    background: #ff1a1a;
  }
}
